[security]
${security-dns} ansible_host=${security-ip} # ${security-id}

[database]
${security-dns} ansible_host=${security-ip} # ${security-id}

[manager]
${manager-dns} ansible_host=${manager-ip} # ${manager-id}

[edge]
${manager-dns} ansible_host=${manager-ip} host_template=HostTemplate-Edge # ${manager-id} 

[master]
%{ for index, dns in master-dns ~}
${dns} ansible_host=${master-ip[index]} host_template=HostTemplate-Master${index+1} # ${master-id[index]} 
%{ endfor ~}

[worker]
%{ for index, dns in node-dns ~}
${dns} ansible_host=${node-ip[index]} host_template=HostTemplate-Worker # ${node-id[index]}
%{ endfor ~}

[extra_worker]

[cdsw_master]
%{ for index, dns in cdsw_master-dns ~}
${dns} ansible_host=${cdsw_master-ip[index]} host_template=HostTemplate-CDSWMaster${index+1} # ${cdsw_master-id[index]} 
%{ endfor ~}

[cdsw_worker]
%{ for index, dns in cdsw_node-dns ~}
${dns} ansible_host=${cdsw_node-ip[index]} host_template=HostTemplate-CDSWWorker # ${cdsw_node-id[index]}
%{ endfor ~}

[cdf_master]
%{ for index, dns in cdf_master-dns ~}
${dns} ansible_host=${cdf_master-ip[index]} host_template=HostTemplate-CDFMaster${index+1} # ${cdf_master-id[index]} 
%{ endfor ~}

[cdf_worker]
%{ for index, dns in cdf_worker-dns ~}
${dns} ansible_host=${cdf_worker-ip[index]} host_template=HostTemplate-CDFWorker # ${cdf_worker-id[index]} 
%{ endfor ~}

[cdp_servers:children]
manager
edge
master
worker
extra_worker
cdsw_master
cdsw_worker
cdf_master
cdf_worker

# if edge isn't shared with manager add here too
[cluster_hosts:children]
master
worker
extra_worker
cdsw_master
cdsw_worker
cdf_master
cdf_worker

[ipaservers:children]
security

[ipaservers:vars]
ipaadmin_password=ADMPassword1
ipadm_password=DMPassword1 # this is the directory manager for ldap stuff
ipaserver_domain=seccluster.local
ipaserver_realm=SECCLUSTER.LOCAL
ipaserver_setup_dns=no
ipaserver_setup_firewalld=no
ipaserver_auto_forwarders=no

[ipaclients:children]
cdp_servers

[ipaclients:vars]
ipaadmin_password=ADMPassword1
ipaserver_domain=seccluster.local
ipaserver_realm=SECCLUSTER.LOCAL

[all:vars]
ansible_user=centos
ansible_ssh_common_args='-o StrictHostKeyChecking=no ProxyCommand="ssh -W %h:%p -q 13.211.32.167'
